.loginbtn{

    color: white;
    border-style: hidden;
    background: #44904C;
    border-radius: 20px;
    padding: 10px;
    font-weight: bold;

}

.loginbtn:hover{
    transition: 250ms;
    transform: scale(1.08);
    cursor: pointer;
}
