.box{
    width: 100%;
    height: 653px;
    background-color: rgba(0, 0, 0, 0.816);
    
}

.box1{
    /* display: flex;
    width: 60%;
    height: 400px;
    background-color: aliceblue;
    justify-content: center;
    /* align-items: center; 
   
    margin-left: 300px;
    padding-top: 20px; */
display: flex;
    position: absolute;
width: 1100px;
height: 530px;
left: 200px;
top: 120px;
right: 200px;

background: #000000;
/* mix-blend-mode: hard-light; */
border-radius: 7px;
  
flex-direction: column;
}

.count1{
    
    text-align: right;
}

#headscount{
    color: blue;
}


.display{

    height: 150px;
    width: 150px;
    position: relative;
    margin: 50px auto;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

.display img{
    width: 150px;
}
.heads, .tails{
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;


}

.tails{
    transform: rotateX(180deg);
}
@keyframes spin-tails{
    0%{
        transform: rotateX(0);
    }
    100%{
        transform: rotateX(1980deg);
    }
}
@keyframes spin-heads{
    0%{
        transform: rotateX(0);
    }
    100%{
        transform: rotateX(2160deg);
    }
}

.buttons{
    display: flex;
    justify-content: space-between;
}

button{
    width: 120px;
    padding: 10px 0;
    border: 2.5px solid #424ae0;
    border-radius: 5px;
    cursor: pointer;
}