
 
.box{
  display: flex;  
  justify-content: left;

    
}


.withdrawbtn{



  width: 120px;
  height: 30px;
 
  letter-spacing: 2px;
  text-decoration: none;
  
  text-align: center;
  color: white;
  background-color: black;
  

  
}
  

.withdrawbtn:hover{
    background: white;
    color: black;
   

}

 
  
   