.box{
    width: 100%;
    height: 653px;
    background-color: rgba(0, 0, 0, 0.816);
    
}

.box1{
    /* display: flex;
    width: 60%;
    height: 400px;
    background-color: aliceblue;
    justify-content: center;
    /* align-items: center; 
   
    margin-left: 300px;
    padding-top: 20px; */
display: flex;
flex-direction: column;
    position: absolute;
width: 1100px;
height: 530px;
left: 200px;
top: 120px;
right: 200px;

background: #000000;
/* mix-blend-mode: hard-light; */
border-radius: 7px;
  

}


.box2{
   display: flex;
   justify-content: center;
   padding-top: 20px;
   padding-inline: 20px;
}




.eth{
    /* position: absolute; */
width: 100px;
height: 100px;
left: 410px;
top: 20px;

border-radius: 5px;
}





input [type="checkbox"]{
/* width: 100px;
height: 100px;
left: 410px;
top: 20px;

border-radius: 5px; */
    
}


.btc{
    /* position: absolute; */
width: 100px;
height: 100px;
right: 410px;
top: 20px;

border-radius: 5px;
}

.input{
    display: flex;
    position: absolute;
width: 326px;
height: 64px;
left: 400px;
top: 259px;

background: #C4C4C4;
border-radius: 5px;
justify-content: center;
align-items: center;
}




.btn{
    position: absolute;
width: 152px;
height: 45px;
left: 490px;
top: 380px;
background: #44904C;
border-radius: 14px;
color: rgba(255, 255, 255, 0.749);
}